# do daily/weekly/monthly maintenance
# min   hour    day     month   weekday command
*       *       *       *       *       php /var/www/html/artisan schedule:run 1>> /var/www/html/storage/logs/laravel-schedule.log 2>&1
